<h3>Welcome, <%= current_user.email %> - <%= link_to 'Log Out', logout_path %></h3>
<br>
<h2>New Link</h2>
<%= render 'form' %>
<br>
<h2>Filters</h2>
<div class="">
  <form id="search-filter">
    <input type="text" name="search-filter" placeholder="Search...">
  </form>
</div>
<br>
<h2>Links</h2>
<div id="links">
  <%= render @links if @links%>
</div>
