<h3>Welcome, <%= current_user.email %> - <%= link_to 'Log Out', logout_path %></h3>
<br>
<h2>New Link</h2>
<%= render 'form' %>
<br>
<h2>Filters</h2>
<div id="filters">
  <form id="search-filter">
    <input type="text" name="search-filter" placeholder="Search...">
  </form>
  Status:
  <button id="all" type="button">All</button>
  <button id="read" type="button">Read</button>
  <button id="unread" type="button">Unread</button>
  <br>
  <button id="sort" type="button">Sort</button>
</div>
<br>
<h2>Links</h2>
<div id="links">
  <%= render @links if @links%>
</div>
